* {
  margin: 0;
  padding: 0;
  font-family: system-ui;
  user-select: none;
}

body {
  width: 100dvw;
  height: 100dvh;
  font: normal 15pt arial;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .content {
  width: 60%;
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.container .content header {
  text-align: center;
  margin-bottom: 32px;
}

.container .content h1 {
  font-weight: 600;
  font-size: 26px;
  color: #5353ec;
}

.container .content header span {
  font-size: 16px;
  font-weight: 400;
  color: #525252;
}

.container .content .input-data {
  display: flex;
  gap: 20px;
  align-items: center;
  flex-direction: column;
}

.container .content .input-data .input-group {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: space-between;
}

.container .content .input-data .input-group span {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: space-between;
}

.container .content .input-data .input-group span,
.container .content .input-data .input-group .input-style {
  width: 100%;
}

.container .content .input-data .input-group .input-style {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.container .content .input-data .counter-result-btn {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  width: 30%;
  background-color: #5353ec;
  color: white;
  border-radius: 4px;
  border: none;
  padding: 10px 10px;
}

.container .content .result {
  height: 200px;
  overflow-y: scroll;
  border: solid 1px #ccc;
  border-radius: 5px;
  padding: 16px;
}

.container .content .input-data .input-group .error {
  border: solid 2px red;
}

@media (max-width: 480px) {
  .content {
    width: 100% !important;
    padding: 32px;
  }

  .container .content .input-data .input-group {
    flex-direction: column;
    width: 100%;
  }

  .container .content .input-data .input-group .input-style {
    width: 70dvw;
  }
}
