* {
  margin: 0;
  padding: 0;
}

body {
  width: 100dvw;
  height: 100dvh;
  font: normal 15pt arial;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  width: 60%;
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.container .content .input-data {
  display: flex;
  gap: 20px;
  align-items: center;
  flex-direction: column;
}

.container .content .input-data .input-group {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: space-between;
}

.container .content .input-data .input-group span {
  display: flex;
  gap: 8px;
  align-items: center;
}

.container .content .input-data .input-group span,
.container .content .input-data .input-group span input {
  width: 100%;
}

.container .content .input-data .counter-result-btn {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  width: 30%;
  background-color: #4caf50;
  color: white;
  border-radius: 4px;
  border: none;
  padding: 10px 10px;
}

.container .content .result {
  height: 200px;
  overflow-y: scroll;
  border: solid 1px #ccc;
  border-radius: 5px;
  padding: 16px;
}

.in {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
